<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <div class="row">

    <% @products.each do |product| %>
         <div class="well col-md-4" >
        <%= product.name %>
      
  <!--
       <%= product.string %>
      <%= product.image %>-->
    <%= image_tag product.image, class: "img-responsive"  %>
       <div class="row">
       <%= product.description %>
       </div>
       <div class="row">
      <%= product.price %>
    </div>
      <div class="row">
        <div class="col-md-2" >
       <%= link_to 'Ver', product, class:"btn-info" %>
        </div>
        <div class="col-md-2" >
      <%= link_to 'Editar', edit_product_path(product), class:"btn-primary" %></td>
        </div>
        <div class="col-md-8" >
       <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Estas seguro?' }, class:"btn-warning"  %>
       </div>
       </div>
     </div>
    <% end %>

  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path, class:"btn-success"  %>
